.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 300ms;
}

.appLinks {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.appLink {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 24px;
}

.appLinkName {
    opacity: 1;
}

.appLinkIcon {
    fill: var(--inverted-primary-color);
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.switchersInCol {
    flex-direction: column;
}

// COLLAPSED

.collapsed {
    width: var(--sidebar-width-collapsed);

    .appLinks {
        align-self: center;
        justify-content: center;
    }

    .appLinkName {
        opacity: 0;
        transition: opacity 300ms;
        display: none;
    }

    .appLink {
        justify-content: center;
    }
}

.collapseBtn {
    position: absolute;
    bottom: 32px;
    right: -32px;
}
