.app.dark {
  --bg-color: #657dac;
  --inverted-bg-color: #d3d3d9;

  --primary-color: #630bde;
  --secondary-color: #a190bb;

  --inverted-primary-color: #b4304e;
  --inverted-secondary-color: #b7556a;
}
