.app.light {
    --bg-color: #d3d3d9;
    --inverted-bg-color: #657dac;
    --primary-color: #b4304e;
    --secondary-color: #b7556a;
    --inverted-primary-color: #630bde;
    --inverted-secondary-color: #a190bb;
}
