.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
}

.button {
    text-decoration: none;
    margin-left: auto;
    display: flex;
    column-gap: 10px;
}
